<footer class="footer">
	<ul class="footer-links">
		<li><a href="http://github.com/{{ site.author.github }}"> <i
				class="fa fa-inverse fa-github fa-3x"></i></a></li>
		<li><a href="http://www.linkedin.com/in/{{ site.author.linkedin }}"> <i
                class="fa fa-inverse fa-linkedin-square fa-3x"></i></a></li>
        <li><a href="https://www.instagram.com/{{ site.author.instagram }}"> <i
                class="fa fa-inverse fa-instagram fa-3x"></i></a></li>
        <li><a href="mailto:{{ site.author.email }}"> <i
                class="fa fa-inverse fa-envelope fa-3x"></i></a></li>        
	</ul>
</footer>