	<!-- nav-menu-dropdown -->
	<div class="btn-group hidden-xs" id="nav-menu">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-bars"></i>
		</button>
		<ul class="dropdown-menu" role="menu">
      {% for item in site.data.navigation %}
        <li><a href="{{ item.link }}" {% if page.url == item.link %}class="nav-item nav-link current"{% else %} class="nav-item nav-link not-current" {% endif %}>{{ item.name }}</a></li>
      {% endfor %}
        <li class="divider"></li>
        <li><a href="#"><i class="fa fa-arrow-up"></i>Top of Page</a></li>
		</ul>
	</div>