<!doctype html>
<html lang="ko">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}
    {% include navdropdown.html %}

    <div class="col-sm-3 sidebar hidden-xs" style="{% if site.sidebar_background_image %}background: url({{site.sidebar_background_image}}) no-repeat !important;{% endif %}">
      {% include sidebar.html %}
    </div>
    
    <div class="col-sm-9 col-sm-offset-3">
      {{ content }}
    </div>
    
    <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>
  </body>
</html>