<!doctype html>
<html lang="ko">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}
    {% include navdropdown.html %}
    
    <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>
  </body>

  {% include navbar.html %}
</html>